body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#cccccc;
}

.container{
  margin-top:20px;
}

.newphoto{
  width:350px;
}

.Main{
  text-align:center;
}

.btn-group{
  overflow:hidden;
}